.task-item {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .content {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    .checkbox {
      width: var(--size-xl);
      height: var(--size-xl);
      border-radius: var(--radius-sm);
      border: var(--border-base);
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.done {
        background-color: var(--mat-sys-primary);
        color: var(--mat-sys-on-primary);
        border: 2px solid var(--mat-sys-primary);
      }

      mat-icon {
        font-size: var(--size-md);
        width: var(--size-md);
        height: var(--size-md);
      }
    }

    .task {
      font-weight: 700;
    }
  }

  .completed {
    text-decoration: line-through;
    color: var(--task-completed-text);
  }
}
